 
@{
    ViewData["Title"] = "User";
}


    <div class="col-12 col-md-3 register-right">
        <img src="/images/logo_white.png" alt="" />
        <h3>خوش آمدید</h3>
        <p> </p>
        <a class="btn btn-sm" asp-action="Register" style=" border: none;    border-radius: 1.5rem; padding: 2%; width: 80%;  background: #f8f9fa; font-weight: bold; color: #383d41; margin-top: 30%; margin-bottom: 3%; "> ایجاد یک حساب</a>
        <a class="btn btn-sm" asp-action="login" style=" border: none;    border-radius: 1.5rem; padding: 2%; width: 80%;  background: #f8f9fa; font-weight: bold; color: #383d41; margin-top: 30%; margin-bottom: 3%; ">  ورود به سیستم </a>
    </div>